[Unit]
Description=Event Store Open Source
After=network-online.target remote-fs.target

[Service]
ExecStart=/usr/bin/eventstored
KillMode=process
User=eventstore
Restart=on-failure
Type=simple

[Install]
WantedBy=multi-user.target
