[Unit]
Description=Event Store Open Source
After=network.target

[Service]
ExecStart=/usr/bin/eventstored
Group=eventstore
User=eventstore
Restart=on-failure
RestartSec=1min
Type=simple

[Install]
WantedBy=multi-user.target
